/* COMMON */

* {
  box-sizing: border-box;
}

body {
  height: 1000px;
}

/* Study Create */

.study-black-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  left: 0;
  top: 0;
  display: block;
}

.study-create {
  width: 500px;
  height: 670px;
  margin: auto;
  background-color: white;
  position: relative;
  top: 15%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.login-close {
  margin-left: 90%;
  cursor: pointer;
}

.study-create h3 {
  margin-bottom: 30px;
}

.study-create img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  cursor: pointer;
}

.study-create input {
  width: 200px;
  height: 30px;
  padding: 8px;
  margin-bottom: 17px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 12px;
}

.study-create input:focus {
  outline: none;
}

.study-create input::placeholder {
  text-align: center;
}

.study-create input[type='file'] {
  height: 100px;
  position: absolute;
  top: 15%;
  right: 150px;
  opacity: 0;
  cursor: pointer;
}

.study-create select {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: url('./../images/arrow-btn.jpeg') no-repeat 95% 50%;
  background-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  margin-bottom: 17px;
}

.study-create select:focus {
  outline: none;
}

.study-create textarea {
  width: 425px;
  height: 100px;
  border: 1px solid #ccc;
  resize: none;
  padding: 20px;
  text-align: center;
  margin-bottom: 17px;
  overflow: hidden;
}

.study-create textarea::-webkit-scrollbar {
  display: none;
}

.study-create textarea:focus {
  outline: none;
}

.study-create button {
  width: 150px;
  height: 30px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: #e17055;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
}

.study-create button:hover {
  font-weight: 500;
}

.study-create button:focus {
  outline: none;
}

/* Study List */

.filter-group {
  position: absolute;
  top: 180px;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.filter-group button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #e17055;
}

.filter-group a {
  color: white;
}

.filter-group a:hover {
  font-weight: 500;
}

.filter-group select {
  width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  font-family: inherit;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: url('./../images/arrow-btn.jpeg') no-repeat 95% 50%;
  background-size: 20px;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-group select:focus {
  outline: none;
}

.study-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 300px 0px 300px 40px;
}

.study-list-item-group {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.study-list-item {
  display: block;
  width: 250px;
  height: 320px;
  margin: 0px 60px 60px 0px;
  border: 1px solid #eee;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #eee;
}

.study-list-item:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.study-list-image {
  width: 250px;
  height: 160px;
  background-color: aquamarine;
}

.study-list-text {
  padding: 10px;
  font-size: 12px;
}

.study-list-text .field {
  color: #e17055;
  font-weight: 600;
  margin-right: 60%;
}

.study-list-text i {
  color: #ccc;
}

.study-list-text .grade {
  font-weight: 600;
  color: #ccc;
}

.sub-info {
  margin-bottom: 10px;
}
.sub-info .study-personnel {
  display: inline-block;
  margin-bottom: 5px;
}

hr {
  border: 0.5px solid #eee;
  opacity: 0.5;
}

.user-info {
  display: flex;
}

.user-profile {
  padding-top: 5px;
  vertical-align: middle;
}

.user-profile .study-leader-image {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
  vertical-align: middle;
}

.user-profile .study-leader-name {
  margin-right: 50px;
}

.study-region {
  padding-top: 5px;
}

.study-region i {
  color: red;
  vertical-align: middle;
  font-size: 13px;
  margin-right: 3px;
  opacity: 0.9;
}

.study-region button {
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 11px;
  width: 50px;
  height: 20px;
  padding: 4px;
  vertical-align: middle;
}

/* MEDIA QUERY */

@media only screen and (min-width: 1920px) {
  .user-interface {
    right: 20%;
  }

  .main-image-content {
    width: 47%;
    margin: 8% auto 100px auto;
  }

  .user-alram {
    top: 72px;
    right: 21.5%;
  }

  .join-study-list {
    top: 72px;
    left: 43.3%;
  }
}
